.mtm-form-audit {
  max-width: 800px;
  margin: auto;

  .ant-space-compact {
    min-height: 50px;
    position: relative;

    @media (max-width: 480px) {
      & {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .ant-select {
      min-height: 50px;

      .ant-select-selection-search {
        input[type="search"] {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          min-height: 50px;
          border-left: none;
          border-radius: 100px;
          padding-left: 16px;
        }
      }
    }

    .ant-input-wrapper {
      .ant-input-group-addon {
        background-color: white;
        border-radius: 100px 0 0 100px;
        padding-left: 16px;
        padding-right: 0;
        min-height: 50px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      }

      &:has(input[type="search"]:hover, input[type="search"]:focus, input[type="search"]:focus-within)
        .ant-input-group-addon {
        border-color: #f3935f;
      }

      input[type="search"] {
        border-left: none;
        border-radius: 0;
      }
    }

    .ant-btn[type="submit"] {
      position: absolute;
      z-index: 100;
      right: 0;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      border-radius: 100px;
      background: linear-gradient(270deg, #f24a6f 0%, #f3935f 52.5%);
      min-height: 50px;

      &:disabled {
        color: white;
        opacity: 0.75;
      }

      @media (max-width: 480px) {
        & {
          position: relative;
        }
      }
    }
  }
}
