.seo-issue-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.seo-issue-item .ant-collapse-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mtm-card .ant-card-body {
  padding-top: 0 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.mtm-card .ant-tabs-nav {
  padding: 0 16px !important;
  margin-bottom: 30px !important;
}

.mtm-card .ant-tabs-nav-list {
  padding: 5px 0 !important;
}

.mtm-progress .ant-progress-inner {
  border-radius: 100px !important;
}

.mtm-progress .ant-progress-inner > * {
  border-right: 2px solid white;
}

/* .mtm-collapse.ant-collapse {
  margin-top: -12px;
}

.mtm-collapse .ant-collapse-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
